@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

@mixin scroll {
  overflow-y: auto;
  scrollbar-width: thin; /*-webkit-overflow-scrolling:touch;*/
}

/*scrolls*/
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background-color: #36454f;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.08);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img[src=""] {
  display: none;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #333333;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.notification__item--custom {
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-left: 8px solid #1e42fa;
}

.profile-container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 2rem;
}

.square-box {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.square-box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  color: #fff;
  cursor: pointer;
  width: auto;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-weight: 500;
  margin-right: 1rem;
}

.profile-pic:after {
  content: attr(data-content);
  position: absolute;
  text-align: center;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.profile-pic:hover:after {
  opacity: 1;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gradient,
.profile-pic:after {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.border-field {
  border-bottom: 1px solid #ffffff;
  background: none;
}

.border-field:focus {
  outline: none;
}

.divider {
  border-bottom: 1px solid white;
}

.app-hide {
  display: none;
}

.border-field {
  border-bottom: 1px solid #000000;
  background: none;
}

.post-modal {
  max-width: 500px;
  width: 80%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-item:hover .gallery-item-info,
  .gallery-item:focus .gallery-item-info {
    display: none;
  }
  .nav-hide {
    display: none;
  }
  .app-hide {
    display: inherit;
  }
}

.challenges-list {
  min-height: 500px;
  width: 100%;
  padding: 15px;
}
.challenges-list li {
  height: 100px;
}

.challenges-user img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.mkr {
  transform: translate(-50%, -50%);
}
